<html>

  <h1>Welcome to the index!</h1>
  <h2>List of Posts</h2>
  <%@posts.each do |post|%>
    <a href="/posts/<%=post.id%>"><%=post.name%> - </a><br>
    <%=post.content%><br>
  <%end%>

  <h2><a href="/posts/new">Create a post?</a></h2

</html>
