<form method="POST" action="/posts"> <!-- Is this/should this post to app controller?-->
  <label>Post Name: <input type="text" name="name"></label>
  <label>Post Content: <input type="text" name="content"></label>
  <input type="submit" id="submit">
</form>
