<h1>Create a new blog post</h1>

<form action="/posts" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="content">Content</label>
  <input type="textarea" name="content">

  <input type="submit" id="submit">
</form>
