<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Create a Post</title>
    </head>
    <body>
        <h1> Create a new post below </h1>
        <form action="/posts" method="POST">
            <label name="name">Name: </label>
            <input type="text" name="name">
            <label name="content">Content: </label>
            <input type="textarea" name="content">
            <input type="submit" name="submit" id="submit">
        </form>

    </body>
</html>
