<html>

<h1><%=@post.name%></h1>

<h2><%=@post.content%></h1>

<h2>Edit the post?</h2>
<a href="/posts/<%=@post.id%>/edit">Edit</a>

<h2>Delete the post?</h2>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input type="hidden" name="_method" value="delete" id="hidden">
  <input type="submit" id="delete">
</form>

<h2><a href="/posts">Return to index?</h2>

</html>
